In [14]:
import importlib
import datetime as dt
from fxcmpy import fxcmpy_tick_data_reader as tdr
from fxcmpy import fxcmpy_candles_data_reader as cdr

In [2]:
print(tdr.get_available_symbols())

('AUDCAD', 'AUDCHF', 'AUDJPY', 'AUDNZD', 'CADCHF', 'EURAUD', 'EURCHF', 'EURGBP', 'EURJPY', 'EURUSD', 'GBPCHF', 'GBPJPY', 'GBPNZD', 'GBPUSD', 'GBPCHF', 'GBPJPY', 'GBPNZD', 'NZDCAD', 'NZDCHF', 'NZDJPY', 'NZDUSD', 'USDCAD', 'USDCHF', 'USDJPY')

In [3]:
start = dt.datetime(2018, 2, 1)
end = dt.datetime(2018, 2, 15)

In [5]:
dr = tdr('EURUSD', start, end, verbosity=True)

Fetching data from: https://tickdata.fxcorporate.com/EURUSD/2018/5.csv.gz
Fetching data from: https://tickdata.fxcorporate.com/EURUSD/2018/6.csv.gz
Fetching data from: https://tickdata.fxcorporate.com/EURUSD/2018/7.csv.gz

In [6]:
type(dr)

fxcmpy.fxcmpy_data_reader.fxcmpy_tick_data_reader

In [7]:
raw_data = dr.get_raw_data()

In [8]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5643477 entries, 01/28/2018 22:00:46.425 to 02/16/2018 21:59:08.423
Data columns (total 2 columns):
Bid    float64
Ask    float64
dtypes: float64(2)
memory usage: 129.2+ MB

In [9]:
dr.get_data().info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5643477 entries, 2018-01-28 22:00:46.425000 to 2018-02-16 21:59:08.423000
Data columns (total 2 columns):
Bid    float64
Ask    float64
dtypes: float64(2)
memory usage: 129.2 MB

In [10]:
dr.get_data().head()

                             Bid      Ask
2018-01-28 22:00:46.425  1.24239  1.24282
2018-01-28 22:00:46.438  1.24236  1.24282
2018-01-28 22:00:59.117  1.24236  1.24267
2018-01-28 22:00:59.134  1.24229  1.24267
2018-01-28 22:01:25.668  1.24228  1.24266

In [12]:
raw_data.head()

                             Bid      Ask
DateTime
01/28/2018 22:00:46.425  1.24239  1.24282
01/28/2018 22:00:46.438  1.24236  1.24282
01/28/2018 22:00:59.117  1.24236  1.24267
01/28/2018 22:00:59.134  1.24229  1.24267
01/28/2018 22:01:25.668  1.24228  1.24266

In [15]:
print(cdr.get_available_symbols())

('AUDCAD', 'AUDCHF', 'AUDJPY', 'AUDNZD', 'CADCHF', 'EURAUD', 'EURCHF', 'EURGBP', 'EURJPY', 'EURUSD', 'GBPCHF', 'GBPJPY', 'GBPNZD', 'GBPUSD', 'GBPCHF', 'GBPJPY', 'GBPNZD', 'NZDCAD', 'NZDCHF', 'NZDJPY', 'NZDUSD', 'USDCAD', 'USDCHF', 'USDJPY')

In [16]:
period = 'm1'

In [17]:
candles = cdr('EURGBP', start, end, period, verbosity=True)

Fetching data from: https://candledata.fxcorporate.com/m1/EURGBP/2018/5.csv.gz
Fetching data from: https://candledata.fxcorporate.com/m1/EURGBP/2018/6.csv.gz
Fetching data from: https://candledata.fxcorporate.com/m1/EURGBP/2018/7.csv.gz

In [18]:
type(candles)

fxcmpy.fxcmpy_data_reader.fxcmpy_candles_data_reader