In [1]:
import fxcmpy
import pandas as pd
import datetime as dt
con = fxcmpy.fxcmpy(config_file='fxcm.cfg')

In [5]:
con.get_open_positions().T

Empty DataFrame
Columns: []
Index: []

In [6]:
order = con.create_market_sell_order('EUR/USD', 100)

In [7]:
order = con.create_market_buy_order('USD/JPY', 200)

In [9]:
order

In [13]:
con.get_open_positions().T

                            0               1               2
accountId             1041561         1041561         1041561
accountName          01041561        01041561        01041561
amountK                   100             200            1000
close                 1.13571         110.932         110.932
com                         0               0               0
currency              EUR/USD         USD/JPY         USD/JPY
currencyPoint              10         18.0279         90.1396
grossPL                    -4        -30.6494        -126.203
isBuy                   False            True            True
isDisabled              False           False           False
limit                       0               0             120
open                  1.13567         110.949         110.946
ratePrecision               5               3               3
roll                        0               0               0
stop                        0               0               0
stopMove                    0               0               0
t                           1               1               1
time           02262019015345  02262019015400  02262019015545
tradeId              67555723        67555724        67555727
usedMargin             2164.5            3330           16650
valueDate
visiblePL                -0.4            -1.7            -1.4

In [10]:
order = con.open_trade(symbol='USD/JPY', is_buy=True,
                       rate=105, is_in_pips=False,
                       amount='1000', time_in_force='GTC',
                       order_type='AtMarket', limit=120)

In [14]:
con.get_open_positions()['tradeId']

0    67555723
1    67555724
2    67555727
Name: tradeId, dtype: object

In [15]:
con.get_open_trade_ids()

[67555723, 67555724, 67555727]

In [16]:
con.get_closed_trade_ids()

[]

In [17]:
con.get_all_trade_ids()

[67555723, 67555724, 67555727]

In [18]:
tradeId = con.get_open_trade_ids()[-1]

In [19]:
tradeId

67555727

In [20]:
con.close_trade(trade_id=tradeId, amount=1000)

In [23]:
con.get_open_positions().T

                            0               1
accountId             1041561         1041561
accountName          01041561        01041561
amountK                   100             200
close                 1.13574         110.908
com                         0               0
currency              EUR/USD         USD/JPY
currencyPoint              10         18.0318
grossPL                    -7        -73.9351
isBuy                   False            True
isDisabled              False           False
limit                       0               0
open                  1.13567         110.949
ratePrecision               5               3
roll                        0               0
stop                        0               0
stopMove                    0               0
t                           1               1
time           02262019015345  02262019015400
tradeId              67555723        67555724
usedMargin             2164.5            3330
valueDate
visiblePL                -0.7            -4.1

In [24]:
con.close_all_for_symbol('EUR/USD')

In [25]:
con.get_open_positions().T

                            0
accountId             1041561
accountName          01041561
amountK                   200
close                 110.908
com                         0
currency              USD/JPY
currencyPoint         18.0318
grossPL              -73.9351
isBuy                    True
isDisabled              False
limit                       0
open                  110.949
ratePrecision               3
roll                        0
stop                        0
stopMove                    0
t                           1
time           02262019015400
tradeId              67555724
usedMargin               3330
valueDate
visiblePL                -4.1

In [26]:
con.close_all()

In [27]:
con.get_closed_positions().T

                            0               1               2
accountName          01041561        01041561        01041561
amountK                  1000             100             200
close                 110.912         1.13576         110.908
closeTime      02262019015908  02262019015951  02262019020006
com                         0               0               0
currency              USD/JPY         EUR/USD         USD/JPY
currencyPoint         90.1595              10         18.0319
grossPL               -306.55              -9          -73.94
isBuy                    True           False            True
open                  110.946         1.13567         110.949
openTime       02262019015545  02262019015345  02262019015400
ratePrecision               3               5               3
roll                        0               0               0
t                           2               2               2
tradeId              67555727        67555723        67555724
valueDate
visiblePL                -3.4            -0.9            -4.1

In [28]:
con.open_pos

{}

In [29]:
order = con.create_market_sell_order('EUR/USD', 100)

In [30]:
con.open_pos

{67555747: <fxcmpy.fxcmpy_open_position.fxcmpy_open_position at 0x12088a668>}

In [31]:
tradeId = con.get_open_trade_ids()[-1]

In [36]:
pos = con.open_pos[tradeId]

In [37]:
print(pos)

accountId:        1041561
accountName:      01041561
amountK:          100
close:            1.13588
com:              0
currency:         EUR/USD
currencyPoint:    10
grossPL:          -20
isBuy:            False
isDisabled:       False
limit:            0
open:             1.13568
roll:             0
stop:             0
stopMove:         0
time:             2019-02-26 02:01:09
tradeId:          67555747
usedMargin:       2164.5
valueDate:
visiblePL:        -2

In [38]:
pos.get_amount()

100

In [40]:
pos.get_currency()

'EUR/USD'

In [41]:
pos.close()

In [42]:
con.get_open_positions()

Empty DataFrame
Columns: []
Index: []

In [43]:
con.close()